.showList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}



.showCard {
  background-color: $color-background;
  color: $color-font-section;
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  box-shadow: 2px 3px 8px 0px #878787;
  transition: transform 250ms ease, box-shadow 250ms ease;
  position: relative;
  overflow: hidden;



  .showCard-title {
    text-align: center;
    padding-bottom: 10px;
  }
}


.showCard:hover {
  size: 105%;
}


.showCard-favourite {
  background-color: $color-background-favourite;
  color: $color-font-favourite;
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;

}
