.showList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}



.showCard {
  background-color: $color-background;
  color: $color-font-section;
  font-family: $secondary-font;
  position: relative;
  margin: 3px;

  overflow: hidden;
  box-shadow: 2px 3px 8px 0px #878787;

  .showCard-title {
    text-align: center;
    padding-bottom: 10px;
    display: block;
    opacity: 0;
    display:none;
    position: absolute;
  }
}

.showCard:hover {
  transition: transform 250ms ease, box-shadow 250ms ease;

  .showCard-title {
    opacity: 100;
    display: block;
    

  }

}